
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

  body{
    margin: 0;
    padding: 0;
    font-family: josefin sans;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(40deg, #ff6600, #faa763); */
    /* background-color: #fbeee6; */
    background-image: url(./img/allyson-carter-qvmtasZpHKQ-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }
  
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29vw;
    background: transparent;
    border-radius: 10px;
    border: 2px rgb(7, 6, 6) solid;
    backdrop-filter: blur(15px);
    box-shadow: 2px 2px 2px 2px rgba(15, 13, 13, 0.59);
  }
  
  .center h1{
    text-align: center;
    color: #da5908;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
  }
  
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fbeee6;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
  }
  
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0px;
    height: 2px;
    background: #da5908;
    transition: .5s;
  }
  
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #da5908;
  }
  
  .txt_field input:focus ~ span::before,
  .txt_field input:Valid ~ span::before{
    width: 100%;
  }
  
  .pass{
    margin: -5px 0 20px 5px;
    color: #fbeee6;
    cursor: pointer;
    border: 2px solid #da5908;
  }
  
  .pass:hover{
    text-decoration: underline;
  }
  
  input[type="Submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #da5908;
  
  }
  
  input[type="Submit"]:hover{
    background: #da5908;
    color: #fbeee6;
    transition: .5s;
  }
  
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #fbeee6;
  }
  
  .signup_link a{
    color: #da5908;
    text-decoration: none;
  }
  
  .signup_link a:hover{
    text-decoration: underline;
  }
  
  .HomeAbout{
    width: 100vw;
    height: 25vh;
  }










































































































































